

<p id="notice"><%= notice %></p>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container-fluid">
  <div class="row">
    <div class="col-md-11 col-md-offset-1">

      <%= render 'my_channels' %>

    </div>
  </div>
</div>