
<!-- Hover Stats - START -->

<div class="row">
  <div class="col-md-8">
    <div class="col-lg-4" style="margin-top: 10px;" >
      <div class="form_hover " style="background-color: #DFF0E7; ">
        <p style="text-align: center; margin-top: 20px;">
          <i class="fa fa-shield" style="font-size: 147px; color:#CC246F"></i><br /><br>
          <span style="font-size: 25px;">Reduce Compliance Risk</span>
        </p>
        <div class="header" >
          <div class="blur"></div>
          <div class="header-text">
            <div class="panel panel-success" style="height: 370px; border-bottom:solid 12px #4FA59F;">
              <div class="panel-heading text-center" style="background-color: #4FA59F">
                <i class="fa fa-plus" style="font-size: 47px; color: #B4D336"></i>
              </div>
              <div class="panel-body">

                <p>Faro10's tool documents patient outcomes using measurement based data.
                  Our tools can capture patient conditions when they are away from the point-of-care, and we can automatically measure, track, and report their outcome data.
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4" style="margin-top: 10px;">
      <div class="form_hover " style="background-color: #DFF0E7;">
        <p style="text-align: center; margin-top: 20px;">
          <i class="fa fa-money" style="font-size: 147px; color:#CC246F"></i><br /><br>
          <span style="font-size: 25px;">Capture More Revenue</span>
        </p>
        <div class="header" >
          <div class="blur"></div>
          <div class="header-text">
            <div class="panel panel-success" style="height: 370px; border-bottom:solid 12px #4FA59F;">
              <div class="panel-heading text-center" style="background-color: #4FA59F">
                <i class="fa fa-plus" style="font-size: 47px; color: #B4D336"></i>
              </div>
              <div class="panel-body">


                <p>Protect against revenue leakage and generate additional revenues by insuring that patient outcomes are properly documented for claims processing, payments, and billing.
                  Our tools capture and automate measured-base patient outcomes.
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4" style="margin-top: 10px;">
      <div class="form_hover " style="background-color: #DFF0E7;">
        <p style="text-align: center; margin-top: 20px;">
          <i class="fa fa-medkit" style="font-size: 147px; color:#CC246F"></i><br /><br>
          <span style="font-size: 25px;">Informed Treatment Decisions</span>
        </p>
        <div class="header" >
          <div class="blur"></div>
          <div class="header-text">
            <div class="panel panel-success" style="height: 370px; border-bottom:solid 12px #4FA59F;">
              <div class="panel-heading text-center" style="background-color: #4FA59F">
                <i class="fa fa-plus" style="font-size: 47px; color: #B4D336"></i>
              </div>
              <div class="panel-body">


                <p>
                  Our clinical care platform enables each of your patient's providers, from their primary physician to their therapist and to their specialist, to access and share notes,
                  prescription, treatment, and other important information with each other.

                </p>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4" style="margin-top: 25px;">
      <div class="form_hover " style="background-color: #DFF0E7; ">
        <p style="text-align: center; margin-top: 20px;">
          <i class="fa fa-check-square-o" style="font-size: 147px; color:#CC246F"></i><br /><br>
          <span style="font-size: 25px;">Screen for Undiagnosed Mental Health Condition</span>
        </p>
        <div class="header" >
          <div class="blur"></div>
          <div class="header-text">
            <div class="panel panel-success" style="height: 370px; border-bottom:solid 12px #4FA59F;">
              <div class="panel-heading text-center" style="background-color: #4FA59F">
                <i class="fa fa-plus" style="font-size: 47px; color: #B4D336"></i>
              </div>
              <div class="panel-body">

                <p>
                  Our tools can be used to screen for co-occurring mental health conditions for your chronic care practices. As important, our tools can then help your
                  clinicians and administrators coordinate, track,
                  and measure mental health treatment and outcomes for those diagnosed patients so they do not fall between the cracks in the system.
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4" style="margin-top: 25px;">
      <div class="form_hover " style="background-color: #DFF0E7;">
        <p style="text-align: center; margin-top: 20px;">
          <i class="fa fa-exclamation-triangle" style="font-size: 147px; color:#CC246F"></i><br /><br>
          <span style="font-size: 25px;">Early Warning System for Higher Risk Patients</span>
        </p>
        <div class="header" >
          <div class="blur"></div>
          <div class="header-text">
            <div class="panel panel-success" style="height: 370px; border-bottom:solid 12px #4FA59F;">
              <div class="panel-heading text-center" style="background-color: #4FA59F">
                <i class="fa fa-plus" style="font-size: 47px; color: #B4D336"></i>
              </div>
              <div class="panel-body">


                <p>
                  We have created unique capabilities to identify when patients begin exhibiting higher risk behavior, and our notifications
                  allow their care providers to act early before a concern turns into a crisis.
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4" style="margin-top: 25px;">
      <div class="form_hover " style="background-color: #DFF0E7;">
        <p style="text-align: center; margin-top: 20px;">
          <i class="fa fa-h-square" style="font-size: 147px; color:#CC246F"></i><br /><br>
          <span style="font-size: 25px;">Improve Readmission Performance</span>
        </p>
        <div class="header" >
          <div class="blur"></div>
          <div class="header-text">
            <div class="panel panel-success" style="height: 370px; border-bottom:solid 12px #4FA59F;">
              <div class="panel-heading text-center" style="background-color: #4FA59F">
                <i class="fa fa-plus" style="font-size: 47px; color: #B4D336"></i>
              </div>
              <div class="panel-body">
                <p>
                  By identifying patient relapse or escalating wellness conditions for patients away from the point of care, we can help mitigate readmission rates for
                  mental health or behavioral health reasons. We can also track medication adherence, and provide timely information for
                  clinicians to intervene or adjust when medication adherence has lapsed or when medication is not creating expected outcomes.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h1 style="color: #4FA59F"><b>PATIENT-CENTERED CARE</b></h1>
    <p>
      Create seamless transitions in care.
      Better informed and more engaged patients result in better outcomes.  Satisfy patient engagement quality measures and provide timely, appropriate, coordinated care.
    </p>
    <br><br>
    <%= image_tag('patient_centered2.png' ) %>
  </div>
</div>





<style>
  .form_hover {
    padding: 0;
    position: relative;
    overflow: hidden;
    height: 360px;
  }

  .form_hover:hover .header {
    opacity: 1;
    transform: translateY(-297px);
    -webkit-transform: translateY(-297px);
    -moz-transform: translateY(-297px);
    -ms-transform: translateY(-297px);
    -o-transform: translateY(-297px);
  }

  .form_hover img {
    z-index: 4;
  }

  .form_hover .header {
    position: absolute;
    top: 290px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 100%;

  }

  /*This is the box with the plus sign*/
  .form_hover .blur {
    height: 240px;
    z-index: 5;
    position: absolute;
    width: 100%;

  }

  .form_hover .caption-text {
    z-index: 10;
    color: #fff;
    position: absolute;
    height: 360px;
    text-align: center;
    top: -20px;
    width: 100%;
  }
</style>
<!-- Hover Stats - END -->
