<div id="provider-jumbotron" class="row valign">
  <div class="col-md-10 ho">
    <p id="motto">Behavioral Health Outcome Management</p>
    <p class="lead">
      Numerous tools created to simplify outcome measurement, coordinate patient care, and improve patient engagement
      <br>
    </p>
  </div>
  <div class="col-md-3" style="display: inline-block;height: 100%;vertical-align: middle;"><a href=""><%= image_tag('hipaa.png', size: "230x108", style:"align:left" ) %></a></div>
</div>


<div class="row">
    <div id="carousel-reviews" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner">
        <div class="item active">
          <div class="col-md-4 col-sm-5">
            <div class="block-text rel zmin">
              <!--<a title="" href="#">Hercules</a>-->
              <p><br />Faro10 software is a brilliant approach to a challenging issue.  The ability to monitor patients between appointments, capture feedback from those around them, and coordinate care between all Providers within a simple interface is immensely useful.</p>
              <ins class="ab zmin sprite sprite-i-triangle block"></ins>
            </div>
            <div class="person-text rel">
              <br /><br />
              <i>Thava Mahadevan M.S. LCAS</i><br />
              <strong>Dir of Operations, UNC Center for Excellence in Community Mental Health</strong>
            </div>
          </div>
          <div class="col-md-4 col-sm-5 hidden-sm hidden-xs">
            <div class="block-text rel zmin">
              <p><br>Faro10 has made it extremely convenient for patients to stay connected and to allow for their loved ones to also share their insight into behaviors and emotions.  ... Charts and graphics are tremendously useful ... In my clinical opinion, my sessions have improved significantly with those patients that utilize Faro10 concisely.</p>
              <ins class="ab zmin sprite sprite-i-triangle block"></ins>
            </div>
            <div class="person-text rel">
              <br /><br />
              <i>Sharon L. Wilkening, LPC</i><br />
              <strong>LMHC</strong>
            </div>
          </div>
          <div class="col-md-4 col-sm-5 hidden-sm hidden-xs">
            <div class="block-text rel zmin">
              <p><br>FARO is a brilliant idea and has the opportunity to make a positive impact on the therapy world that has never been seen to date. Improvements for both clients and therapist who treat them will be greatly enhanced as FARO reaches its fullest potential.</p>
              <ins class="ab zmin sprite sprite-i-triangle block"></ins>
            </div>
            <div class="person-text rel">
              <br /><br />
              <i>Bob Smith</i><br />
              <strong>Director of Clinical Services, Strategic Behavioral Health</strong>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
<br>
<br>
<br>


<div class="row">
  <div class="col-md-5">
    <br><br>
    <%= link_to(image_tag("f10_provider_demo.PNG"), "https://www.youtube.com/watch?v=uPgDT_3Bl7w&feature=youtu.be", :target => "_blank") %>
  </div>
  <div class="col-md-5  col-md-offset-1">
    <br>
    <h1 style="color: #4FA59F">BHM TOOLS FOR MEASURING OUTCOMES AND COORDINATED CARE. </h1>
    <h2 style="color: #326867">
      Better patient data. Better treatment decisions. Better outcomes. Better compliance. Better Revenue Capture.
    </h2>
    <p style="font-size: large">
      All new information that can be used at the point of care.
      No additional record keeping, no complex setup, just log in to see how your patients are doing.
    </p>
    <br>
  </div>
</div>
<br>
<br>
<br>