<div class="center image" xmlns="http://www.w3.org/1999/html">
  <%= image_tag('depression_cover.jpg', size: "1850x668") %>
</div>
<div class="row" style="margin: 10px">
  <div class="col-md-12">
    <h3 style="color:#326867;font-size: 26px;font-weight: bold;">
      Depression: The Hidden Illness <br/>
    </h3>
    <p>
      <STRONG>RALEIGH, N.C. - Jul. 7, 2018 </STRONG> <br>
    <p style="line-height: 175%">
      It's a Friday morning, the weekend is hours within reach, and your alarm goes off. As you proceed through your morning routine while grabbing a breakfast bar to head out the door to work or class, you feel a weight on your chest.
      Your brain may feel as though it's on auto-pilot and your body is acting on muscle memory. When you walk into class, there is chatter and excitement about the events taking place later that evening or the music festival that's in town over the weekend. But you don't feel excited. Despite it being Friday, this feels like just another morning in a long stretch of endless days that you are pushing through. <br>
      <br>
      Here's the thing - mental illness often masks itself. Depression will fight to stay hidden until someone decides to yank it out and take hold of it.
      While many people try to navigate the ups and downs of life, some people have significantly more bad days than they do good days. There is a difference between having a bad week due to various events in one's life and having consistently bad days or weeks, even with a few good days in between. <br>
    </p>
    <h4>Could I have depression?</h4>
    <p style="line-height: 175%">
      While everyone has different personalities and circumstances, there are a few telltale signs that may indicate that you could be suffering from depression rather than just having an off-week. As you read through the following list, take an honest look at your answers. Do you relate to any of these signs?
    </p>

    <ul>
      <li>You no longer get excited about activities you used to enjoy or you have stopped participating in those activities all together</li>
      <li>Your sleeping patterns have changed- you either have a hard time falling asleep or you sleep a lot more than you used to</li>
      <li>Even if you got plenty of sleep, you feel drained throughout the following day</li>
      <li>You feel as though your days are blending together and there is nothing to look forward to</li>
      <li>You no longer want to make decisions or put too much thought into things</li>
      <li>You get irritated or annoyed by simple things, such as someone asking you a question</li>
      <li>When you're at home, you lay in bed even when you're not ready to sleep</li>
      <li>While you used to eat on a relatively normal schedule, you now eat significantly more than you used to, or you have a hard time even eating at all</li>
      <li>You have suicidal thoughts beyond just thinking about the topic- you may wonder what the least painful method is, even if you believe you have no intention on acting upon it</li>
    </ul>
    <p style="line-height: 175%">
      Did any of those sentences hit home for you? If so, you are not alone. Remember the scenario introduced at the beginning of this article, where everyone else in the classroom appeared to be excited about the weekend? What if I told you that out of the 100 people in that classroom, that seven others might have also been feeling the same way you were? According to the Anxiety and Depression Association of America, 6.7% of the U.S. population over the age of 18 has been diagnosed with depression.
      Keep in mind, that statistic includes those that have been formally diagnosed by a doctor- there are many others suffering in silence.
    </p>

    <div class="center image">
      <%= image_tag('depression_inline_image.jpg', size: "1024x768") %>
    </div>

    <h4>How to help yourself</h4>
    <p style="line-height: 175%">
      There is no other 'you' in this world. You are your own person and you have different interests, a different living situation, and different relationships than anyone else you may know.
      While there is no 'one size fits all' path to battling depression, take comfort in the fact that many have come before you with this diagnosis. <br>
      A good starting point to begin the process of dealing with your depression is accepting that you are suffering from a mental illness. You need to admit to yourself that something is off.
      By admitting this to yourself, you do not have to feel good about it. Maybe it will feel like part of the weight is lifted off of your chest, but maybe it will make you feel worse.
      Nobody likes to admit they are suffering, but if you want change to happen you will need to make an intentional effort. <br>
      After you have owned your mental illness, there is a variety of routes you can take to healing. You need to figure out what works best for you.
    </p>
    <b> Here are some ideas: </b>
    <ul>
      <li>Exercise. If you don't have the motivation to get up and go to the gym, go for a walk around your neighborhood </li>
      <li>Start a journal and write down your thoughts </li>
      <li>Try to make it to events or hangouts with your friends, even if it's only once per week </li>
      <li>Speak to a close and trusted friend or family member about the feelings you've been having </li>
      <li>Consider seeing a psychologist- there is no commitment in going, but a professional can help you dissect your feelings and provide tips catered to your needs in overcoming your depression. A psychologist may also be able to recognize the need for medication to assist you in your healing </li>
    </ul>
    <h4>
      How to help a loved one
    </h4>
    <p style="line-height: 175%">
      If you notice changes in a friend or family member and think they may have depression, you will need to tread slowly. This person may not even realize they have depression.
      Invite them to grab coffee and spend time with them or send them a message asking how they are doing. Show them that you care.
      If someone has confided in you and told you that they are battling depression, it is important that you recognize the level of trust they have in you.
      Be a friend, but do not be a helicopter. Depending on the severity, they may need guidance and an extra push to assist them in their healing. Remember, you are there to support them and not to heal them. That person will need to heal themselves.
    </p>

    <h4>Additional Resources:</h4>
    <a href="https://suicidepreventionlifeline.org/" target="_blank">Suicide Prevention Hotline 1-800-273-8255  </a> <br>
    <a href="https://save.org/" target="_blank">Suicide Awareness Voices of Education </a> <br>
    <a href="https://adaa.org/" target="_blank">Anxiety and Depression Association of America</a> <br>
    <br>
    <p style="line-height: 175%">
      While tackling depression may seem like a daunting task, there is hope. There are a multitude of resources available to help you or those you love overcome this hidden illness.
      Whatever your path may be, take your healing day by day. Realize that you are not alone and that you can be happy again.
      There will come a time that you will look forward to going out with your friends again and when you will wake up excited to take on the day ahead of you.
    </p>
  </div>
</div>
