<% provide(:title, 'Faro10 - frequently asked questions about behavior health') %>

<br>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-md-offset-0">
      <!-- Nav tabs category -->
      <ul class="nav nav-tabs faq-cat-tabs">
        <li class="active"><a href="#faq-cat-1" data-toggle="tab">Members</a></li>
        <li><a href="#faq-cat-2" data-toggle="tab">Clinicians</a></li>
        <li><a href="#faq-cat-3" data-toggle="tab">Administrative</a></li>
        <!--<li><a href="#faq-cat-4" data-toggle="tab">Payments</a></li>-->
        <!--<li><a href="#faq-cat-5" data-toggle="tab">Privacy</a></li>-->
        <!--<li><a href="#faq-cat-6" data-toggle="tab">Delivery</a></li>-->
      </ul>

      <!-- Tab panes -->
      <div class="tab-content faq-cat-content">
        <div class="tab-pane active in fade" id="faq-cat-1">
          <div class="panel-group" id="accordion-cat-1">
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-1">
                  <h4 class="panel-title">
                    If I track my status, who can see it?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-1-sub-1" class="panel-collapse collapse">
                <div class="panel-body">
                  The status you track within Faro10 is only available to you unless you choose to share that data with a clinician.
                  To do that, a clinician has to add you to their list of patients, and then you must approve that request.
                  This is the only way that anyone can see the status' that you track.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-2">
                  <h4 class="panel-title">
                    Where can I see what I've entered?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-1-sub-2" class="panel-collapse collapse">
                <div class="panel-body">
                  You can view your charts and journal in both the web application and the mobile app.  <br>
                  Within the mobile app, press the chart icon on the top right of the screen.  <br>
                  When logged into the web application using a browser, the Dashboard will display all of your symptom measurements and journal entries.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-3">
                  <h4 class="panel-title">
                    What is an observer?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-1-sub-3" class="panel-collapse collapse">
                <div class="panel-body">
                  An observer is a member who is making "observations" on another member.
                  These observations become part of that member's chart, and are available to their clinicians.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-4">
                  <h4 class="panel-title">
                    Why become an observer?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-1-sub-4" class="panel-collapse collapse">
                <div class="panel-body">
                  Observer feedback is extremely useful to clinicians when treating patients.  They have limited visibility into the effectiveness of treatment, and your feedback can greatly assist them!
                </div>
              </div>
            </div>

            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-5">
                  <h4 class="panel-title">
                    How are my observations used by a clinician?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-1-sub-5" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul>
                    <li>Between-session visibility</li>
                    <li>Insight into medication effectiveness</li>
                    <li>Insight into triggers and other activity that can help provide a holistic patient view</li>
                    <li>Provide additional perspective and information during patient sessions that a patient may not provide</li>
                    <li>Recognize behavior that could be crucial to proper diagnosis and treatment</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-6">
                  <h4 class="panel-title">
                    Can the people I am observing see what I enter?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-1-sub-6" class="panel-collapse collapse">
                <div class="panel-body">
                  The short answer is no. <br>
                  Only a clinician that has been approved by an observee can view your observations.
                </div>
              </div>
            </div>

            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-7">
                  <h4 class="panel-title">
                    As an observer, what types of things should I report?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-1-sub-7" class="panel-collapse collapse">
                <div class="panel-body">
                  Observations regarding an observee's mood, behavior, social activity, or other behavior is all very critical information for diagnosis and treatment. <br>
                  Understanding changes in these areas is critical information for clinicians when measuring the success/progress of treatment.
                </div>
              </div>
            </div>

            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-8">
                  <h4 class="panel-title">
                    How often should I make observations?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-1-sub-8" class="panel-collapse collapse">
                <div class="panel-body">
                  It is helpful to collect both the positive and negative feedback regarding a person's behavior,
                  so we recommend scheduling at least a daily reminder to make observations.  <br>
                </div>
              </div>
            </div>

            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-9">
                  <h4 class="panel-title">
                    How do I add an observee, so that I can make observations on them?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-1-sub-9" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul>
                    <li>You cannot add an observee, they must add you</li>
                    <li>When a Faro10 user adds you as an "observer" within their My Team page, then you will have access to make observations on them.</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-10">
                  <h4 class="panel-title">
                    Can I use the App if I am want to track my mental health?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-1-sub-10" class="panel-collapse collapse">
                <div class="panel-body">

                  Yes. We think the App helps anyone better understand and track their mental wellness, even if you have not been
                  diagnosed with a specific disorder. Contact us if you need more information.
                </div>
              </div>
            </div>

            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-11">
                  <h4 class="panel-title">
                    Can I use the App as part of treatment?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-1-sub-11" class="panel-collapse collapse">
                <div class="panel-body">

                  Yes. We think the Faro10 App will be very helpful during treatment. If you invite your those around you that care about your mental wellness,
                  please send an invitation from the App for them to join as an observer. We also think that you will have greater success with your treatment if you invite your care providers from your App
                  so that they have better information to make treatment decisions. Contact us if you need more information.
                </div>
              </div>
            </div>

            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-12">
                  <h4 class="panel-title">
                    Can I use the App as part of recovery?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-1-sub-12" class="panel-collapse collapse">
                <div class="panel-body">

                  Yes. We think it is important to keep track of our mental wellness during your recovery. If you invite your those around you
                  that care about your mental wellness, please send an invitation from the App for them to join as an observer. We think that you will have greater success with your treatment if you
                  invite your care providers from your App so they have better information to make treatment decisions. Contact us if you need more information.
                </div>
              </div>
            </div>

            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-13">
                  <h4 class="panel-title">
                    What is the difference between Faro10 App and Mindfulness Apps?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-1-sub-13" class="panel-collapse collapse">
                <div class="panel-body">

                  We believe Mindfullness Apps can be useful for helping at the moment -- when you have a stressful or anxious moment and need to take a breath.
                  Faro10's App takes a different approach -- we are designed so that you can take action before these moments begin to accumulate. Our App enables you,
                  those that care about you, and professional health care providers to better understand your mental health so that fewer tough moments happen.
                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="tab-pane fade" id="faq-cat-2">
          <div class="panel-group" id="accordion-cat-2">
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                  <h4 class="panel-title">
                    How do I add a new patient?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-2-sub-1" class="panel-collapse collapse">
                <div class="panel-body">
                  From your Patient Dashboard, choose the "Add New Patient" button and input the email address of the patient to add. <br>
                  NOTE: this patient must be registered in Faro10 as a member with the same email address.

                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                  <h4 class="panel-title">
                    How is this information helpful?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-2-sub-2" class="panel-collapse collapse">
                <div class="panel-body">
                  Faro10 allows you to identify behavioral health conditions and track treatment progress over time by measuring the effect of treatment on symptoms. <br>
                  All measurements are patient and observer reported, and viewable in real-time.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-3">
                  <h4 class="panel-title">
                    Is this intended to replace clinical judgement?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-2-sub-3" class="panel-collapse collapse">
                <div class="panel-body">

                  These measures are an important piece of information about the patient but are not meant to represent the entire clinical picture of the patient,
                  nor are they meant to replace the clinical judgment of the provider. They are an important tool to assist the
                  clinician and the patient with identification of the specific symptoms
                  causing difficulty for the patient and how well those symptoms respond to treatment over time.

                </div>
              </div>
            </div>

            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-4">
                  <h4 class="panel-title">
                    How does this change the way I currently practice?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-2-sub-4" class="panel-collapse collapse">
                <div class="panel-body">
                  This is not intended to change the way you currently practice, but rather enhance the information you have when working with patients.
                  Faro10 provides symptom measurements, patient journals, observer journals, and much more that can be very useful when working with patients.
                </div>
              </div>
            </div>

            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-5">
                  <h4 class="panel-title">
                    Will this reduce the amount of time available to spend with patients?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-2-sub-5" class="panel-collapse collapse">
                <div class="panel-body">
                  No.  In fact it may provide you with MORE time to spend with patients.  <br>
                  The Symptoms & Functional Impairment report and Treatment Progress reports have been designed to make insurance reporting easier.
                </div>
              </div>
            </div>

            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-6">
                  <h4 class="panel-title">
                    Is Faro10 HIPAA compliant?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-2-sub-6" class="panel-collapse collapse">
                <div class="panel-body">
                  Yes Faro10 has completed the HIPAA certification process.
                </div>
              </div>
            </div>

            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-7">
                  <h4 class="panel-title">
                    What is the "find Clinicians using Faro10" on the homepage?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-2-sub-7" class="panel-collapse collapse">
                <div class="panel-body">
                  There are many members currently tracking themselves using the Faro10 mobile app.  <br>
                  This search ability allows those members to find clinicians who use Faro10 when treating patients. <br>
                  These Faro10 clinicians have access to all of the symptom data that the member has been recording/tracking simply by
                  adding them as a patient (and approval by the patient within Faro10). <br>


                </div>
              </div>
            </div>

          </div>
        </div>


        <div class="tab-pane fade" id="faq-cat-3">
          <div class="panel-group" id="accordion-cat-3">
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#faq-cat-3-sub-1">
                  <h4 class="panel-title">
                    How do I sign up?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-3-sub-1" class="panel-collapse collapse">
                <div class="panel-body">
                  On the Home Page you will see a "Register" button.  Click on it to be directed to the account type screen.
                  There are two different types of login profiles.  Select the appropriate profile by clicking on the respective "Sign up Now" button.
                  This will open a form to complete, and when finished, click "Create my Account".
                  You will receive an activation email to confirm your account.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#faq-cat-3-sub-2">
                  <h4 class="panel-title">
                    What are the different account types?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-3-sub-2" class="panel-collapse collapse">
                <div class="panel-body">
                  There are two different account types within Faro10, MEMBER & CLINICIAN.  <br>
                  Members have the ability to track themselves or make observations of other members. <br>
                  The clinician account type is used to manage patients by monitoring systems and outcomes.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-3-sub-3">
                  <h4 class="panel-title">
                    How do I update my profile?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-3-sub-3" class="panel-collapse collapse">
                <div class="panel-body">
                  Under the "Account" drop down at the top of any screen will give you the option to edit your profile by selecting the "Settings" option.
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="tab-pane fade" id="faq-cat-4">
          <div class="panel-group" id="accordion-cat-4">
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-4" href="#faq-cat-4-sub-1">
                  <h4 class="panel-title">
                    Can I have an invoice for my subscription??
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-4-sub-1" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-4" href="#faq-cat-4-sub-2">
                  <h4 class="panel-title">
                    How do I delete my account?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-4-sub-2" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-4" href="#faq-cat-4-sub-3">
                  <h4 class="panel-title">
                    Why did my credit card or paypal account fail??
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-4-sub-3" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-4" href="#faq-cat-4-sub-4">
                  <h4 class="panel-title">
                    Why does my bank statement show multiple charges for one upgrade?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-4-sub-4" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="tab-pane fade" id="faq-cat-5">
          <div class="panel-group" id="accordion-cat-5">
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-5" href="#faq-cat-5-sub-1">
                  <h4 class="panel-title">
                    Can I specify my own private key?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-5-sub-1" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-5" href="#faq-cat-5-sub-2">
                  <h4 class="panel-title">
                    How do I get my missing files back?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-5-sub-2" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-5" href="#faq-cat-5-sub-3">
                  <h4 class="panel-title">
                    How can I access my account data?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-5-sub-3" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-5" href="#faq-cat-5-sub-4">
                  <h4 class="panel-title">
                    How can I control search engines linking to my profile?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-5-sub-4" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="tab-pane fade" id="faq-cat-6">
          <div class="panel-group" id="accordion-cat-6">
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-6" href="#faq-cat-6-sub-1">
                  <h4 class="panel-title">
                    What should I do if my order hasn't been placed'?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-6-sub-1" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-6" href="#faq-cat-6-sub-2">
                  <h4 class="panel-title">
                    How do I get my missing files back?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-6-sub-2" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-6" href="#faq-cat-6-sub-3">
                  <h4 class="panel-title">
                    How can I find my international delivery information?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-6-sub-3" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-6" href="#faq-cat-6-sub-4">
                  <h4 class="panel-title">
                    Who takes care of shipping?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-6-sub-4" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-6" href="#faq-cat-6-sub-5">
                  <h4 class="panel-title">
                    How do returns or refunds work?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-6-sub-5" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-6" href="#faq-cat-6-sub-6">
                  <h4 class="panel-title">
                    How do I use shipping profiles?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-6-sub-6" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-6" href="#faq-cat-6-sub-7">
                  <h4 class="panel-title">
                    How does your UK next day delivery work?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-6-sub-7" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-6" href="#faq-cat-6-sub-8">
                  <h4 class="panel-title">
                    How does your next day delivery work?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-6-sub-8" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-6" href="#faq-cat-6-sub 9">
                  <h4 class="panel-title">
                    When will my order arrive?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-6-sub-9" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-6" href="#faq-cat-6-sub-10">
                  <h4 class="panel-title">
                    When will my order ship?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-6-sub-10" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<br><br>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p style="text-align: center; font-size: large ">
      <%= link_to "Contact Us", contact_path %> now to learn more about these FREE tools. <br>
      michael@faro10.com</p>
  </div>
</div>

<%= render "layouts/footer" %>
