<% provide(:title, 'Managed Care Networks') %>

<br>
<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <h3 style="color:#4FA59F">Managed Care Networks</h3>
    <h4 style="color: #326867">COMING SOON --
      Better patient data. Better treatment decisions. Better outcomes. Better compliance. Better Revenue Capture.
    </h4>
  </div>
</div>
<hr>