<% provide(:title, 'Faro10 - Partner and reseller program') %>

<div class="row">
  <h1>
    Partners
  </h1>
  <div class="col-md-8 col-md-offset-1">




    <p>
      As a channel driven business, Faro10 is completely committed to the success of our partners and resellers.
      We provide discounts up to 85%, providing huge revenue opportunities for our partners.

    </p>



    <h2>
      Solution Partners
    </h2>
    <p>
      These are partners who integrate with Faro10 to provide an end-to-end Behavioral Health Management System which includes EMR/Telehealth/Measurement&Analytics.
    </p>

    <h2>
      Telehealth Partners
    </h2>
    <p>
      These are partners who integrate with Faro10 to provide an end-to-end Behavioral Health Management System which includes EMR/Telehealth/Measurement&Analytics.
    </p>

    <h2>
      EMR Partners
    </h2>
    <p>
      These are partners who integrate with Faro10 to provide an end-to-end Behavioral Health Management System which includes EMR/Telehealth/Measurement&Analytics.
    </p>

    <h2>
      Supervisors
    </h2>
    <p>
      Are you a Supervisor who understands the importance of measuring outcomes?
      Become a reseller of one of our packaged EMR/Telehealth/Measurement&Analytic solutions.
      There are thousands of small practices needing technology and practice guidance.
      These integrated solutions provide the most advanced practice management capabilities available to Clinicians and allows them to maximize efficiency and effectiveness.

    </p>

  </div>
</div>