<% provide(:title, 'Faro10 - Thought Leadership in Behavioral Health Managment') %>
<!-- Page Heading/Breadcrumbs -->
<div class="row">
  <div>
    <h3 class="header">Press Room</h3>
    <hr>
    <!-- .row -->
    <!-- Intro Content -->
    <!--<img src='https://<%= ENV.fetch("AWS_S3_BUCKET") %>/ResearchTriangle.jpg' alt="map" align="right">-->

    <div>
        <a href="https://www.faro10.com/depression_hidden_illness">
          <h3 style="color:#326867;font-size: 26px;font-weight: bold;">
            Depression The Hidden Illness  <br/>
          </h3>
        </a>
        <p>
        <STRONG>RALEIGH, N.C. - Jul. 7, 2018 </STRONG> <br>
        <p>
        It's a Friday morning, the weekend is hours within reach, and your alarm goes off. As you proceed through your morning routine while grabbing a breakfast bar to head out the door to work or class, you feel a weight on your chest.
        Your brain may feel as though it's on auto-pilot and your body is acting on muscle memory. When you walk into class, there is chatter and excitement about the events taking place later that evening or the music festival that's in town over the weekend. But you don't feel excited. Despite it being Friday, this feels like just another morning in a long stretch of endless days that you are pushing through. <br>
        <br>
        Here's the thing - mental illness often masks itself...
    </div>

    <hr>
    <div>
      <p>
        <a style="color:#326867;font-size: 26px;font-weight: bold;" target="_blank"
           href="https://www.prnewswire.com/news-releases/americas-warrior-partnership-collaborates-on-research-into-recreation-based-health-and-wellness-programs-for-military-veterans-300622909.html">
          Research Into Recreation-Based Health and Wellness Programs for Military Veterans.</a><br/>
      </p>
      <p>
        <STRONG>RALEIGH, N.C. - Apr. 6, 2018 </STRONG> <br>

        ...we think tracking fitness data is an important step in helping veterans and other individuals facing mental health challenges
        with measuring positive progress. Faro10 will be adding Fitbit data to our mental health tracking App in 2018, and hope this helps our veterans...
      </p>

    </div>
    <hr>

    <div>
      <p>
        <a style="color:#326867;font-size: 26px;font-weight: bold;" target="_blank"
           href="https://www.faro10.com/assets/cro_benefits_v3-9afd647452e225d7bc9233ea1c9234856de97107139de8e919c6a0825893fd30.pdf">
          Are you a CRO looking for Behavioral Health patients and data?  Faro10 can help.</a><br/>
      </p>
      <p>
        <STRONG>RALEIGH, N.C. - Apr. 5, 2018 </STRONG> -

        <a target="_blank" href="http://www.newsobserver.com/news/technology/article10148111.html">
          Prolonged Recruitment can cost up to $8M per day
        </a><br/>

        "...the No. 1 cause of delays in clinical trials is the failure to recruit sufficient patients in a timely manner, Schafer said.
        Indeed, more than 80 percent of all clinical trials fail to meet their patient recruitment targets, according to the National Institutes of Health."
        "For the drug companies that hire CROs, time is most definitely money, lots and lots of money. Every day that a blockbuster drug is delayed from winning
        regulatory approval can mean as much as $8 million in lost sales"
      </p>
      <%= link_to "Faro10 helps find patients for clinical studies", asset_path("cro_benefits_v3.pdf"), :target => "_blank" %>

    </div>
    <hr>

    <div>
      <p>
        <a style="color:#326867;font-size: 26px;font-weight: bold;" target="_blank" href="https://www.linkedin.com/feed/update/urn:li:activity:6382932776777248769">
          Faro10 Sponsors NC NAMI Walk</a><br/>
      </p>
      <p>
        <STRONG>RALEIGH, N.C. - Mar. 31, 2018 </STRONG> - Faro10 is proud to support the NC NAMI Walk on April 14th.

        Come and learn more about Faro10 at our booth.,
        </p>
    </div>
    <hr>


    <div>
      <p>
        <a style="color:#326867;font-size: 26px;font-weight: bold;" target="_blank" href="https://www.faro10.com/assets/employer_benefits-73103f07a85736255eb545366571d918773c7e8a8ac0333a61b110b544b132d3.pdf">
          Supporting Care Givers in the Workplace</a><br/>
      </p>
      <p>
        <STRONG>RESEARCH TRIANGLE PARK, N.C. - Mar. 23, 2018 </STRONG> - With a rate of 1 in 5 teens and adults struggling with depression,
        it is highly likely that some portion of your employees are serving as primary care givers, and required to be out of office to support in this capacity multiple times per week potentially.


        <br/><BR/>
        Enabling employers to reduce employee stress, absenteeism, lost productivity, and health-care costs due to employee care-giving for family.
      </p>
    </div>
    <hr>


    <div>
      <p>
        <a style="color:#326867;font-size: 26px;font-weight: bold;" target="_blank" href="https://www.prlog.org/12698343-faro10-announces-corporate-partnership-with-benchmarks.html">
          Faro10 announces corporate partnership with Benchmarks</a><br/>
      </p>
      <p>
        <STRONG>RALEIGH, N.C. - March 21, 2018 </STRONG> - Faro10 announces corporate partnership with Benchmarks

        <br/><BR/>
        Faro10 is proud to announce that they are a new corporate partner with NC-based Benchmarks, an alliance of behavioral health organizations advocating for children and families.
      </p>
    </div>
    <hr>


    <div>
      <p>
        <a style="color:#326867;font-size: 26px;font-weight: bold;" target="_blank" href="https://www.prlog.org/12686336-411-on-mental-health-for-parents-of-teens.html">411
          on Mental Health for Parents of Teens</a><br/>
      </p>
      <p>
        <STRONG>RESEARCH TRIANGLE PARK, N.C. - Jan. 13, 2018 </STRONG> - PRLog -- On January 24th, Faro10 will host a
        meeting for parents of teens, to talk frankly about how to spot mental distress in their teen and give them
        tools to use to help them.
        <br/><BR/>
        Faro10, a mental health app and analytics company, is hosting an event on January 24th for parents to learn more
        about how they can recognize the signs of mental distress in their teen and seek help for them.
      </p>
    </div>
    <hr>
    <div>
      <p>
        <a style="color:#326867;font-size: 26px;font-weight: bold;" target="_blank" href="https://www.wraltechwire.com/2017/11/03/nc-idea-picks-11-finalists-for-50k-startup-grants/">Faro10
          Makes Final 11</a><br/>
      </p>
      <p>
        <STRONG>Durham, NC - Nov 3, 2017</STRONG> WRAL Tech Wire - NC IDEA picks 11 finalists for $50K startup
        grants<br/><BR/>
        Eleven emerging startups, including seven from the Triangle, are finalists for the latest round of startup
        grants from NC IDEA.
      </p>
    </div>
    <hr>
    <div>
      <p>
        <a style="color:#326867;font-size: 26px;font-weight: bold;" target="_blank" href="">Measuring Progress in Mental
          Health Treatment</a><br/>
      </p>
      <p>
        <STRONG>JOSH ROBERTO - Oct. 21, 2017</STRONG> - Using Measurement Data Encourages Treatment Compliance<br/><BR/>
        Anyone that's been through therapy for a mental illness has likely experienced treatment fatigue. Treatment
        requires a lot of work, and is a long process of ups and downs, with some days better than others. Because of
        this effort, it is easy to get discouraged when progress is tough to recognize, but the challenges so apparent.
        <br/><br/>
        By integrating a measured approach into treatment, both patient and clinician can easily view progress. And not
        at a subjective level clouded with uncertainty, but rather concrete statistics. This data provides reassurance
        to individuals that even though things may be difficult, they are in fact getting better. Or conversely, it
        provides evidence that treatment is not working and that it may be time to try something new. Imagine a runner
        training for a race, trying to improve their speed without the ability to monitor time or distance. How would
        they know if they're getting faster?
        <br/><br/>
        When starting a treatment plan, patients must be prepared with realistic expectations of progress. There is no
        magic pill that is going to cure all. Progress is not going to be rapid and profound, but rather slow and
        difficult at times. Clinicians and Care Givers should regularly remind patients of this, and convey the
        importance of measuring progress. One method of doing this is by consistently using that measurement data with
        the patient. With the ability for patients to enter and track data such as mood, social interactions, medication
        compliance and Care Giver feedback, Clinicians and Patients can spend the majority of their time in sessions
        focused on treatment, not getting caught up on what happened since their last session.
        <br/><br/>
        For patients, the ability for clinicians to access and track their data between sessions (and for clinicians to
        reach out to the patient with a message if necessary) motivates them to work harder for the next week. Care
        coordination happens much more quickly with Faro10, as well. Instead of wasting valuable time playing phone tag,
        therapist and psychiatrist can communicate with one another immediately.
        <br/><br/>
        When both Clinician and Patient embrace this measured approach, the treatment process can become more focused
        and measured with the availability of meaningful data.
      </p>
    </div>
    <hr>
    <div>
      <p>
        <a style="color:#326867;font-size: 26px;font-weight: bold;" target="_blank" href="https://www.prlog.org/12669644-faro10-launches-application-measuring-mental-health-treatment.html">Faro10
          Launches Application Measuring Mental Health Treatment</a><br/>
      </p>
      <p>
        <STRONG>RALEIGH-DURHAM, N.C. - Oct. 10, 2017</STRONG> - PRLog - After a successful pilot with NC-based Carolina
        Partners, today marks the formal launch date for Faro10.<br/>
        <br/>Faro10 includes a fully featured SaaS application for clinicians to review treatment performance measures,
        as well as a mobile application for patients to record their mental health symptoms in-between appointments.
      </p>
    </div>
    <hr>
    <div>
      <!--<img src='https://<%= ENV.fetch("AWS_S3_BUCKET") %>/ResearchTriangle.jpg' alt="map" align="right">-->
      <div>
        <p>
          <a style="color:#326867;font-size: 26px;font-weight: bold;" target="_blank" href="https://eprnews.com/mental-health-analytics-company-to-present-at-1-mm-cups-rtp-142041/">Mental
            Health Analytics Company to present at 1 mm Cups RTP</a><br/>
        </p>
        <p>
          <STRONG>RESEARCH TRIANGLE PARK, N.C. - Jun 12, 2017</STRONG> - ePRnews - Faro10 is a mental health analytics
          solution for clinicians and their patients.<br/>
          Faro10 will be presenting their business plan for the first time on June 14, 2017 to 1 million cups in RTP.
          Faro10 is seeking an initial $50,000 investment to build an android app and execute hipaa compliance.
        </p>
      </div>
    </div>
  </div>
</div>