<% provide(:title, 'Faro10 - Privacy Policy') %>


<!--<audio src="<%= audio_path 'test.mp3'%>" type="audio/mpeg" controls>-->
  <!--Your browser does not support the audio element.-->
<!--</audio>-->




      <!--<%= render :partial => "shared/partmain" %>-->
<br>
<h3 class="header">Privacy Policy</h3><br />
<h5><b>Your Privacy</b></h5>
<p>
  The information contained in Faro10 is private and used solely for the purposes of health care and treatment.
  We do not distribute, sell or use your personal information, and we exercise every effort to ensure privacy and security.
  The data that we collect is used solely for purposes of health care and treatment, and is only shared between members and clinicians.
  Be assured that safeguarding the contents of this mobile app and website is our priority.
  Faro10, is committed to safeguarding your privacy on-line. The following statement sets our privacy policy.
  For the purposes of this privacy statement "Faro10" shall mean Faro10.com. This policy may change from time to time, so please re-read this policy periodically.
</p>
<br>
<h5><b>What we gather from you</b></h5>
<p>
  Our site collects information in several ways—when you register, enter status updates, enter prescriptions and enter observations.
  Faro10 requests your email, but does not request your name, phone number or any financial information.
  As part of our service, Faro10 also uses cookies to help identify you and access your account data, to track you, to track traffic patterns and for system administration.
  A cookie is a small text file that is created by your browser from a web page and is stored on your computer's hard drive.
</p>

<br>
<h5><b>Contact information</b></h5>
<p>
  Our site's registration form requires users to give us contact information (email address). Contact information is used to get in touch with them when necessary.
</p>

<br>
<h5><b>Third party intermediaries</b></h5>
<p>
  Faro10 does not use third party intermediaries to verify or review your information.
</p>

<br>
<h5><b>Parties to whom we disclose your information</b></h5>
<p>
  The data that we collect on our site will not be transmitted to a third party without your express permission. Meaning, that we will not, and do not, mine your data for
  marketing purposes, nor disclose the details of your traffic to a third party, without your express permission.
  Faro10 may disclose customer information in special cases where Faro10 has reason to believe that disclosing this information is necessary to identify,
  contact or bring legal action against someone who may be violating our terms and conditions of use or may be causing injury or interference with our rights,
  property, our customers or anyone who could be harmed by such activities. We may also disclose customer information when we believe, in good faith, that the
  law requires it and for administrative and other purposes necessary to maintain services and improve our products and services.
  You should also note that the servers hosting our systems are located in a number of different countries. This means that the information you provide will be
  transferred to and hosted on servers in these countries and by submitting the requested information you hereby expressly consent to such transfers.
</p>
<br>
<h5><b>Security</b></h5>
<p>
  This site has security measures in place to protect against the loss, misuse and alteration of the information under our control.
  A password must be entered to log in to your account and in order to manage your profile. Please note, however, that no data transmission over the
  Internet is completely secure. As a result, while we endeavor to protect your personal information, we cannot ensure or warrant the security of any information
  you provide to us and you transmit such information to us at your own risk. Once we receive your transmission we endeavor to ensure the security of your personal
  information on our systems.
  Please note that Faro10 will never ask for any personal information via email (e.g. marriage status, income, etc.).
</p>
<br>
<h5><b>Corrections and updates</b></h5>
<p>
  If you wish to correct, update or otherwise modify the information that you have provided to us please visit the Profile section on our mobile app or website and correct,
  update or modify the relevant information.
</p>
<br>
<h5><b>Contacting the website</b></h5>
<p>
  If you have any questions about this privacy statement, the practices of this site or your dealings with this website, please e-mail privacy@Faro10.com.
</p>
<br>
<h5><b>Links</b></h5>
<p>
  This website contains links to other websites. Please note that when you click on one of these links, you are 'clicking' to another website.
  We encourage you to read the privacy statements of these linked sites as their privacy policy may differ from ours.
</p>