<div class="container">

  <div class="row">
    <div class="col-sm-8">
  <h3>Meet our important supporters!</h3>
  <p>
    This project was a huge endeavor and would not have been possible without the help of many!
    One thing i realized while building this application is how many people are affected in some way by depression or other mental illness.
    There was virtually noone that i spoke with that could not share a story of their own dealings with family or friends in similar situations.
    These contributors were all instrumental in providing funding, development support or other service that was invaluable to supporting this important cause!
  </p>
    </div>
      <div class="col-sm-4">
        <img src='//<%= ENV.fetch("AWS_S3_BUCKET") %>/thank-sponsors.gif'>
        </div>


  <div class="row">
    <div class="col-md-12 col-md-offset-0">
      <!-- Nav tabs category -->
      <ul class="nav nav-tabs faq-cat-tabs">
        <li class="active"><a href="#faq-cat-1" data-toggle="tab"><i class="fa fa-star" style="color: gold"></i> Elite Contributors</a></li>
        <!--<li><a href="#faq-cat-2" data-toggle="tab">Premier Contributors</a></li>-->
        <!--<li><a href="#faq-cat-3" data-toggle="tab">Contributors</a></li>-->
        <li><a href="#faq-cat-4" data-toggle="tab"><i class="fa fa-users" style="color: blue"></i> Business Sponsors</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content faq-cat-content">
        <div class="tab-pane active in fade" id="faq-cat-1">
          <div class="panel-group" id="accordion-cat-1">
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-1">
                  <h4 class="panel-title">
                    Michael Daughtry
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-1-sub-1" class="panel-collapse collapse">
                <div class="panel-body">

                  <div class="col-md-2 text-center">
                    <div class="thumbnail">
                      <img class="img-responsive" src='https://<%= ENV.fetch("AWS_S3_BUCKET") %>/mike.jpg' alt="">
                    </div>
                  </div>
                  <b>Michael and Diane</b>
                  <p>Diane and I met late in life and have a blended family of four girls and two boys. Diane is a project manager and I am also a consultant for data analytics. One of our daughters is dealing with some trauma from a few years ago and we have also been experiencing the same sort of issues as Josh and Tracy with our doctor. The up and down experimentation with different drugs trying to find the right one has been difficult to say the least. The lack of appropriate information has been a major cause and we feel strongly that Faro10 can make a positive difference in the success of not only our daughters cases but anyone who might have to deal with this issue.  </p>

                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-2">
                  <h4 class="panel-title">
                    Elite Contributor 2
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-1-sub-2" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-3">
                  <h4 class="panel-title">
                    Elite Contributor 3
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-1-sub-3" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-4">
                  <h4 class="panel-title">
                    Elite Contributor 4
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-1-sub-4" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="tab-pane fade" id="faq-cat-2">
          <div class="panel-group" id="accordion-cat-2">
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                  <h4 class="panel-title">
                    Premier Contributor 1
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-2-sub-1" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                  <h4 class="panel-title">
                    Premier Contributor 2
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-2-sub-2" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-3">
                  <h4 class="panel-title">
                    Premier Contributor 3
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-2-sub-3" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="tab-pane fade" id="faq-cat-3">
          <div class="panel-group" id="accordion-cat-3">
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#faq-cat-3-sub-1">
                  <h4 class="panel-title">
                     Contributor 1
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-3-sub-1" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#faq-cat-3-sub-2">
                  <h4 class="panel-title">
                    Contributor 2
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-3-sub-2" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-3-sub-3">
                  <h4 class="panel-title">
                    Contributor 3
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-3-sub-3" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="tab-pane fade" id="faq-cat-4">
          <div class="panel-group" id="accordion-cat-4">
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-4" href="#faq-cat-4-sub-1">
                  <h4 class="panel-title">
                    GoTechArk
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>


              <div id="faq-cat-4-sub-1" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="col-md-2 text-center">
                    <div class="thumbnail">
                      <img class="img-responsive" src='https://<%= ENV.fetch("AWS_S3_BUCKET") %>/TA-logo.png' alt="">
                      <div class="caption">
                        <p></p>
                      </div>
                    </div>
                  </div>
                  TechArk Solutions specializes in native and cross-platform mobile apps development for iPhone, iPad, Android and Windows platforms. We believe in helping businesses by leveraging the power of mobile and the internet. For forward-thinking businesses looking to succeed by embracing technology, TechArk is an award-winning web design and mobile apps company that offers solutions you can trust.                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-4" href="#faq-cat-4-sub-2">
                  <h4 class="panel-title">
                    Vaporware
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>


              <div id="faq-cat-4-sub-2" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="col-md-2 text-center">
                  <div class="thumbnail">
                    <img class="img-responsive" src='https://<%= ENV.fetch("AWS_S3_BUCKET") %>/vaporware.png' alt="">
                    <div class="caption">
                      <p></p>
                    </div>
                  </div>
                  </div>
                  Vaporware provides customized development, design, and management services to build web applications.
                  Most clients hire us to build new products from an idea or prototype, typically called a Minimal Viable Product (MVP). While each experience is different, Vaporware takes an extreme lean approach and launches an MVP to customers in as little as 4 days and at most 4 weeks.                </div>
              </div>
            </div>



            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-4" href="#faq-cat-4-sub-3">
                  <h4 class="panel-title">
                    Business 3
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-4-sub-3" class="panel-collapse collapse">
                <div class="panel-body">
                  Description of Business 3
                </div>
              </div>
            </div>


            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-4" href="#faq-cat-4-sub-4">
                  <h4 class="panel-title">
                    Business 4
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-4-sub-4" class="panel-collapse collapse">
                <div class="panel-body">
                  Description of Business 4
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="tab-pane fade" id="faq-cat-5">
          <div class="panel-group" id="accordion-cat-5">
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-5" href="#faq-cat-5-sub-1">
                  <h4 class="panel-title">
                    Can I specify my own private key?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>


              <div id="faq-cat-5-sub-1" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-5" href="#faq-cat-5-sub-2">
                  <h4 class="panel-title">
                    How do I get my missing files back?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-5-sub-2" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-5" href="#faq-cat-5-sub-3">
                  <h4 class="panel-title">
                    How can I access my account data?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-5-sub-3" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-5" href="#faq-cat-5-sub-4">
                  <h4 class="panel-title">
                    How can I control search engines linking to my profile?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-5-sub-4" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="tab-pane fade" id="faq-cat-6">
          <div class="panel-group" id="accordion-cat-6">
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-6" href="#faq-cat-6-sub-1">
                  <h4 class="panel-title">
                    What should I do if my order hasn't been placed'?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-6-sub-1" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-6" href="#faq-cat-6-sub-2">
                  <h4 class="panel-title">
                    How do I get my missing files back?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-6-sub-2" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-6" href="#faq-cat-6-sub-3">
                  <h4 class="panel-title">
                    How can I find my international delivery information?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-6-sub-3" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-6" href="#faq-cat-6-sub-4">
                  <h4 class="panel-title">
                    Who takes care of shipping?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-6-sub-4" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-6" href="#faq-cat-6-sub-5">
                  <h4 class="panel-title">
                    How do returns or refunds work?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-6-sub-5" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-6" href="#faq-cat-6-sub-6">
                  <h4 class="panel-title">
                    How do I use shipping profiles?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-6-sub-6" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-6" href="#faq-cat-6-sub-7">
                  <h4 class="panel-title">
                    How does your UK next day delivery work?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-6-sub-7" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-6" href="#faq-cat-6-sub-8">
                  <h4 class="panel-title">
                    How does your next day delivery work?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-6-sub-8" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-6" href="#faq-cat-6-sub-9">
                  <h4 class="panel-title">
                    When will my order arrive?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-6-sub-9" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default panel-faq">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion-cat-6" href="#faq-cat-6-sub-10">
                  <h4 class="panel-title">
                    When will my order ship?
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                  </h4>
                </a>
              </div>
              <div id="faq-cat-6-sub-10" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


</div>
    </div>