<h3 style="color: #4FA59F">Behavior</h3><br>
<ul>
  <!--<li>  Reduction in patient reported telapeer-harm <span style="color: red"> 7%  </span> since beginning treatment and monitoring with Faro10.</li>-->
  <!--<li>  Reduction in observer reported telapeer-harm <span style="color: red"> 4%  </span> since beginning treatment and monitoring with Faro10.</li>-->
  <!--<li>  Reduction in patient reported Hallucinations <span style="color: red"> 2%  </span> since beginning treatment and monitoring with Faro10.</li>-->
  <!--<li>  Increase in observer reported hyperactivity <span style="color: red"> 6%  </span> since beginning treatment and monitoring with Faro10.</li>-->


  <li>
    Member Reported Self harm entries: <span style="color: #CC246F"> <%= @scorecard.symptom_outcome(:mem, :self_harm) %></span>
  </li>



</ul>
