<div class="col-md-5">
  <div class="panel" style="border: 1px solid; border-radius: 0; border-color: lightgrey">
    <div class="panel-update-heading">
      <h1 style="color: #B4D336">
        <%= value %>
        <!--<i class="fa fa-arrow-down" aria-hidden="true" style="margin-left: 12px" ></i>-->
      </h1>
    </div>
    <div class="panel-body text-center">
      <strong> <%= title %> </strong>
    </div>
  </div>
</div>
