<p>Hello,</p>

<p>A patient has accepted request for membership on Faro10.  Please see the attached consent release.</p>

<%= link_to "Visit your Patient dashboard", root_url %> to view this change.

<p>Thank you,</p>
<h1>Faro10</h1>
