<p>Hello,</p>

<p>Consent for one of your patients has been renewed. Please see the attached consent release.</p>

<%= link_to "Visit your Patient dashboard", root_url %> to view changes for this patient.

<p>Thank you,</p>
<h1>Faro10</h1>
