<p>Hello,</p>

<p>
  You have been invited by a friend to be a member of Faro10.  As a member,
  you will have access to many capabilities including:
</p>

<ul>
  <li>Digitally track mental health and wellness
  <li>Measure success of treatment with Charts, Trends and Graphs
  <li>Mobile app for easy tracking
  <li>Add Observers to your profile to provide your Clinician a holistic view of your well-being
  <li>Configure reminders for tracking medications and health
  <li>Message Center for quick messages from your Clinicians
</ul>

<p>Follow this link to our registration page.</p>

<%= link_to "Register", new_member_registration_url %>

<p>Thank you for your help!</p>
<h1>Faro10</h1>