<p>Hello,</p>

<p>
  You have been invited to assist in measuring the health of someone you know.
  As an Observer or Guardian within Faro10, you will be able to contribute to the health tracking of this person.
  The ability to measure progress towards goals is important, and your participation will be very useful for both this person and any Clinicians they may be working with.
</p>


<p>
  Once you have created an account, your friend will be able to add you to their list of Observers.
  Once completed, you can begin making entries.
</p>
<b>
  All observations you make are only available to Care Team Clinicians, and this person will never see anything you enter.
</b>


<br>
<p>Find us in the AppStore</p>
<%= link_to "AppStore", 'https://itunes.apple.com/us/app/faro10/id1080204499?mt=8', :target => "_blank" %>

<br>
<p>Find us in Google Play </p>
<%= link_to "Google Play", 'https://play.google.com/store/apps/details?id=com.faro10', :target => "_blank" %>

<p> The attached guide provides instructions on how to get started </p>
<p>
  <%= link_to "Quick Start Guide", 'https://www.faro10.com/assets/client_quick_start_guide-64b1d609ec68497a7885504249f7a91ff4a358c2d0015ae0d6c1f5f03c94e06d.pdf', :target => "_blank" %>
</p>


<p>Thank you for your help!</p>
<h1>Faro10</h1>