<p>Hello,</p>

<p>
  You have been invited to assist a patient in their treatment.  As a clinician within Faro10, you will have access to health data and realtime insights into
  their well-being.<br><br>
  Some of the capabilities include:<br>
</p>
  <ul>
    <li>Patient List with quick status of health in real-time
    <li>Dynamic Charts, Trends and Graphs of Patient wellness in real-time
    <li>Real-time status of Patient symptoms and adverse events
    <li>Observer Journals and notes for each Patient
    <li>Track Patient prescriptions and medication success
    <li>Digitally share Patient notes with other Clinicians
    <li>1-way Message Center for quick messages to Patients
    <li>Digitally signed consent and release forms
    <li>Evidence-based Clinic success metrics
  </ul>

<p>
Once you have created an account, you can log in and choose the "Add Patient" option and use the patient's email address to add this patient.
</p>

<p>Follow this link to our registration page.</p>
<%= link_to "Register", pricing_plans_url %>


<p>Thank you for your help!</p>
<h1>Faro10</h1>