<p>
  Hello, you've been invited to join a TelaPeer Support meeting
</p>


<!--<h3>Meeting Details</h3>-->
<!--Invited by: <%#= current_user.user_id %>-->

<!--<p>-->
<!--  <%#= @meeting.meeting_type %> <br>-->
<!--  <%#= @meeting.name %> <br>-->
<!--  <%#= @meeting.topic %> <br>-->
<!--  <%#= @meeting.special_focus %> <br>-->
<!--  <%#= @meeting.start_time %> <br>-->
<!--</p>-->