<p>Hello,</p>

<p>
  One of your patients has recorded a new entry.
</p>

<p>
  <%= link_to "Login to your account", patient_url(@patient) %>
  to see the update.
</p>

<p>Thank you,</p>
<h1>Faro10</h1>
