<p>Hello,</p>

<p>
Faro10 has identified an item of concern and is providing a Patient Alert.
</p>

<p>
  <%= link_to "Login to your account", alerts_url %>
  to see the alert.
</p>

<p>Thank you,</p>
<h1>Faro10</h1>
