<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Mendalytics Mental Health Analytics Platform</title>

</head>
<body>

<div class="center jumbotron">
  <h1>Mental Health through Analytics</h1>

  <h2><span style="color:red"> Cloud-based </span>
    Mental Health
    Analytics
    Platform.
  </h2>
  <h3>Thank you for being a Clinician!</h3>

</div>


<p>
<h4><b><div align="left">Evidence Based Drug Trial</div></b></h4>
<div class="box2">  High-profile attention has surrounded a number of issues, including antidepressants and suicide, the safety of newly marketed drugs, the dissemination of negative clinical trial data, the lack of evidence-based drug development in psychiatry, and the globalization of clinical trials in this area.
</div>
</p>



<p>
<h4><b>
  <div align="left">Accelerate Depression Research</div></b></h4>
<div class="box2"> Thank you for helping to conduct the largest non-clinical trial concerning the treatment and understanding of Mental Health!
  Our hope is to gain a deeper understanding of medication effectiveness by segmentation that
  produces results that can be translated into useful information for clinical practice.
</div>
</p>



<p>
<h4><b><div align="left">Global Benefits</div></b></h4>
<div class="box2">There are far too many stories of people suffering from mental illness for years before determining the proper medication and dosage.  It is during this period that so many tragedies occur!
  School shootings, suicides and other acts caused by those actively being treated by medication is far too common!  By aggregating mood and treatment information, we can create baselines, recognize patterns and identify the effectiveness of medications based on different characteristics such as age, race, gender, and more, that can be used to help treat, as well as identify potential high risk behavior.
</div>
</p>



</body>
</html>