<%= render 'assigned_exercises', assigned: @assigned, membership: @membership %>

<br>

<div class="row">
  <div class="col-md-12">
  <h3>All CBT Exercises</h3>
  <h7>Numerous cognitive behavioral therapy exercises have been created to intervene with different presenting concerns, from anxiety and depression,
    to assertiveness skills deficits. Below is a list of cognitive behavioral therapy exercises common to a number of different CBT treatments:
  </h7>
  <br><br>

  <%= render 'exercises/all' %>

  <br><br>

<!-- Patient CBT Exercise Modal -->
<div class="modal fade" id="assignCBTExerciseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-user fa-lg"></i> Assign CBT Exercise </h4>
      </div>

      <div class="modal-body">
        <div class="row">

          <div class="col-md-12">
        test test
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>  
</div>

<div class="row">
  <p style="color: transparent">Test</p>
</div>

