


<!-- Icon Panels - START -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="box">
        <div class="icon">
          <div class="image"><span class="glyphicon glyphicon-user btn-custom-lg white"></span></div>
          <div class="info">
            <h3 class="title">Updates</h3>
            <p>
              Set alerts and track well-being from a mobile device
            </p>
            <!--<div class="more">-->
              <!--<a href="#" title="Title Link"><i class="fa fa-plus"></i> Details-->
              <!--</a>-->
            <!--</div>-->
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="box">
        <div class="icon">
          <div class="image"><span class="glyphicon glyphicon-signal btn-custom-lg white"></span></div>
          <div class="info">
            <h3 class="title">Observers</h3>
            <p>
              Observer feedback forms a complete health picture
            </p>
            <!--<div class="more">-->
              <!--<a href="#" title="Title Link"><i class="fa fa-plus"></i> Details-->
              <!--</a>-->
            <!--</div>-->
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="box">
        <div class="icon">
          <div class="image"><span class="glyphicon glyphicon-list-alt btn-custom-lg white"></span></div>
          <div class="info">
            <h3 class="title">Dashboard</h3>
            <p>
              Measures Progress and effectiveness of Treatment
            </p>
            <!--<div class="more">-->
              <!--<a href="#" title="Title Link"><i class="fa fa-plus"></i> Details-->
              <!--</a>-->
            <!--</div>-->
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>
  </div>
</div>



<div class="row">

  <div class="col-md-6">
    <!--<h2><b>Depression</b></h2>-->
    <!--<p><b>There are millions of people who suffer in silence dealing with some form of depression.</b></p>-->
    <br>
    <p><span class="glyphicon glyphicon-signal"></span>
      Journal allows you to record thoughts and emotions that can be used during sessions with your Clinician.
      Not everyone requires medication; this greater visibility can help medical professionals choose the safest and most effective course of action.

    </p>
  </div>
  <div class="col-md-6">
    <!--<h2><b>Bipolar</b></h2>-->
    <!--<p><b>With episodes of highs, lows and normals, people with bipolar often go years before being diagnosed and properly treated.</b></p>-->
    <br>
    <p><span class="glyphicon glyphicon-fire"></span> Tracking your energy, sleep and emotional status helps users more quickly recognize patterns of mania.

    </p>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-md-6">
    <p><span class="glyphicon glyphicon-volume-up"></span>
      Trends and measurements are useful in evaluating the effectiveness of treatments, and allow you to have better conversations with your medical professionals.
      <br>
    </p>
  </div>
  <div class="col-md-6">
    <p><span class="glyphicon glyphicon-comment"></span>
      Your Medical Professional can see notes from those who are "Observing" you, and use this extra info to help in there diagnosis/treatment and
      understanding of your progress outside of the office.
    </p>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-md-6">
    <p>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
      By combining treatment and mood information from many thousands of users, we can create predictive models that can help anticipate the most effective treatments based on a combination of personal characteristics such as age/gender/race/etc.
      This information can be beneficial to <b>EVERYONE</b> who is suffering.
    </p>
  </div>
  <div class="col-md-6">
    <p><span class="glyphicon glyphicon-header"></span>
      Medication reminders help users track their medication usage, and evaluate its effectiveness in their treatment.
    </p>
  </div>
</div>

<!--<hr>-->

<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--<p><span class="glyphicon glyphicon-stats"></span>-->
<!--By creating predictive models, we can recognize spiraling behavior and alert your medical professional or emergency contact person when unsafe or dangerous behavior is recognized.-->
<!--I truly believe that with everyone's participation, we can save lives!-->
<!--</p>-->
<!--</div>-->
<!--<div class="col-md-6">-->
<!--<p><span class="glyphicon glyphicon-earphone"></span>-->
<!--With our learned behavior models, Beacon10 identifies and notifies you during periods of mania.-->
<!--</p>-->
<!--</div>-->
<!--</div>-->