<div style=" height: 40%">
<div class="imagepluscontainer emergency">
  <img class="imgsize" src="/assets/alart.png" />
  <div class="desc rightslide">
    Automated alerts sent to
    emergency contact person
    when necessary
  </div>
</div>

<div class="imagepluscontainer imgsize journal">
  <img class="imgsize" src="/assets/journal.png" />
  <div class="desc  leftslide">
    Take notes and log events <a href="#">.</a>
  </div>
</div>
</div>

<div class="imagepluscontainer imgsize medication"  >
  <img class="imgsize" src="/assets/medication.png" />
  <div class="desc leftslide">
    Medication
    reminder and
    tracking. Track
    effectiveness and
    side-effects </a>
  </div>
</div>

<div class="imagepluscontainer imgsize track">
  <img class="imgsize" src="/assets/track.jpeg" />
  <div class="desc leftslide">
    Track personal health measures, for
    self-assessment and comparison
    against others </a>
  </div>
</div>


<p id="socialicons2">
  <a href="#">
    <img border="0" class="twoway" src="/assets/refresh.png" /></a>
</p>


<div class="imagepluscontainer patient">
  <img  class="imgsize-big" src="/assets/patient.png" />
  <div class="desc leftslide">PATIENT
  </div>
</div>

<div style="height: 20%; ">
<div class="imagepluscontainer imgsize easily" >
  <img class="imgsize" src="/assets/easily.png" />
  <div class="desc leftslide">
    Easily update and review status</a>
  </div>
</div>

<div class="button-patient hvr-bubble-float-top">
  Patient
</div>
</div>