

<div style="margin-top: 5% ;  height: 600px ;">
  <div class="benifit imageborder" >
    <p class="button hvr-icon-bounce realbenefit ">Benefits</p><br/>
    <p class="button hvr-bounce-to-right">More visibility into Patient health</p><br/>
    <p class="button hvr-bounce-to-right">Batter Conversations beteen Patients & Clinicians</p><br/>
    <p class="button hvr-bounce-to-right">More visibility into Patient</p><br/>
    <p class="button hvr-bounce-to-right">Quickly recognize patterns of behavior</p><br/>
    <p class="button hvr-bounce-to-right">Crowd sourcing effectiveness of treatment</p><br/>
    <p class="button hvr-bounce-to-right">more quickly diagnose</p><br/>
  </div>

  <div class="borderright">
    <div class="leftdiv b-part1">
      <%= render :partial => "shared/part1" %>
    </div>

    <div class="rightdiv b-part3">
      <%= render :partial => "shared/part3" %>

    </div>
    <div class="middiv">
      <%= render :partial => "shared/part2" %>

    </div>
  </div>
</div>
<br />
<br />
<br />
