<div class="observe-part2">
  <p class="button-name hvr-bubble-float-bottom">Observer</p>
  <div class="imagepluscontainer observe" >
    <img  class="imgsize-observe" src="/assets/observe.png" />
    <div class="desc  leftslide">
      Help loved ones by taking notes & recording
      status for Clinician's use in treatment
    </div>
  </div>
</div>

<div class="b-part2">
  <img class="downarrow" src="/assets/down4.gif">


  <div class="imagepluscontainer communication">
    <img  class="imgsize-big" src="/assets/communication.png" />
    <div class="desc rightslide">
      Batter communication between patient &
      clinician leads to quicker diagnosis and proper
      treatment! <a href="#">.</a>
    </div>
  </div>

  <img class="downarrow" src="/assets/down4.gif">


  <div class="imagepluscontainer measurement" >
    <img  class="imgsize-measurement" src="/assets/measurement.png" />
    <div class="desc leftslide">
      Measurement-based
      Care: Robust patient
      metrics, trending,
      analytics, notes &
      feedback to assist in
      diagnosis & treatment </a>
    </div>
  </div>

</div>
