
<div class="imagepluscontainer imgsize selfdocument">
  <img class="imgsize-self" src="/assets/selfdocument.png" />
  <div class="desc rightslide">
    Self documenting
    charts & records <a href="#">.</a>
  </div>
</div>

<div class="imagepluscontainer imgsize medication2">
  <img class="imgsize" src="/assets/medication.png" />
  <div class="desc rightslide">
    Medication reminder and
    tracking. Track
    effectiveness and
    side-effects
  </div>
</div>
<p id="socialicons2">
  <a href="#">
    <img border="0" class="twoway2" src="/assets/refresh.png" /></a>
</p>

<div class="imagepluscontainer practitioner" >
  <img class="imgsize-big" src="/assets/clinician.png" />
  <div class="desc rightslide">
    Clinician <a href="#">.</a>
  </div>
</div>

<p class="button-practitioner  hvr-bubble-float-top ">Clinician</p>

