
<table id="clinician_report_table"  class="table table-condensed table-striped table-bordered">
  <thead>
  <tr>
    <th style="width: 80%">
      Clinician Comments
    </th>
    <th style="width: 20%">
      Observed At
    </th>
  </tr>
  </thead>
  <tbody>
  <% clinician_entries.each do |ce| %>
      <tr>
        <td>
          <%= ce.journal %>
        </td>
        <td>
          <%= ce.observed_at.strftime("%m/%d/%Y") %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
