
<h1>Liability</h1>
<h2>If you have a plan to hurt yourself or others, call 911, or go to your nearest emergency room
</h2>

<!--<p>Regarding UserName:______<b></b>___________ Email Address:________<b>EMAIL</b>_____________________</p>-->



<!-- Clinicians Table------------->

<br>

<div class="row">
  <div class="col-xs-12">
    <b>Confidentiality</b>
    <p>
      The information contained in Faro10 is private and used solely for the purposes of assisting with health care and treatment.
      We do not distribute, sell, or use your personal information and we exercise every effort to ensure privacy and security.
      The data that we collect is only shared between Members and Clinicians.
      Be assured that safeguarding the contents of this mobile app and website is our priority. Faro10, is committed to safeguarding your privacy on-line.

    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <b>Release of Liability</b>
    <p>
      The client or his/her parent or guardian agrees that using Faro10 are entirely at his/her own risk.
      Services and tools are provided "as is", without warranty of any kind,
      either expressed or implied, including without limitation any warranty for information services, coaching, uninterrupted access, or products and services provided through or in connection with the
      service.  This service is used at the clients own choice and with inherent singular responsibility.    <br><br>

      The client recognizes that Faro10 is a research and analytics tool, and is not a substitute for counseling, psychotherapy, psychoanalysis, mental health care or substance abuse
      treatment, and the client will not use it in place of any form of therapy.  <br><br>

      The client, his/her parent/guardian, his/her legal representatives forever release, waive, discharge and covenant not to sue for any injury, harm or death caused by
      either negligence or other acts.  The client or parent/guardian has read and understood this form and all of its contents, and the client or parent/guardian voluntarily
      agrees to the terms and conditions stated above.
    </p>
  </div>
</div>


<br>
<br>

<div class="row">
  <div class="col-md-12">
    <p><b>Signature:</b> <i>digitally signed by acceptance</i>
    </p><br>
    <p><b>Date: <%= Time.now.strftime("%m/%d/%Y") %></b>
    </p>
  </div>
</div>
<br>

<hr>
<div class="row">
  <div class="col-md-12">
    <p><i>The Faro10 application is not a medical record, and we do not ask for, or store, personally identifiable information on any member other than an email address.
      Privacy of your information is strictly protected and only available with your consent.
    </i></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

  </div>
</div>