<p>Hello,</p> 

<p>
  You've received a message from your clinician team. 
</p>

<p>
  To view your message, login to the <%= link_to "Message Center", team_users_url(anchor: "message-center-row") %> or go to MY TEAM in the Faro10 mobile app!
</p>

<p>Thank you,</p>
<h1>Faro10</h1>
