
    <div class="row">
      <div class="col-md-12">
        <h3 style="color: #556870;" align="center"><b>Getting Started as an Observer or Guardian</b></h3>
        <div class="col-md-2">
          <div class="panel" style="border: 1px solid; border-radius: 0; border-color: lightgrey" data-toggle="modal" data-target="#newFriendInvitationModal"  >
            <div class="panel-body text-center">
              <p style="font-size: 22px; text-align: center; margin: 2px  "> Step 1</p> <br>
              <p style="font-size: 14px; text-align: center; margin: 1px  ">  Invite Observee  <i class="fa fa-external-link" style="margin-left: 7px"></i> </p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="panel" style="border: 1px solid; border-radius: 0; border-color: lightgrey" data-toggle="modal" data-target="#downloadAppModal"  >
            <div class="panel-body text-center">
              <p style="font-size: 22px; text-align: center; margin: 2px  "> Step 2</p> <br>
              <p style="font-size: 14px; text-align: center; margin: 1px  ">  Observee Download App <i class="fa fa-external-link" style="margin-left: 7px"></i>   </p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="panel" style="border: 1px solid; border-radius: 0; border-color: lightgrey" data-toggle="modal" data-target="#step3Modal"  >
            <div class="panel-body text-center">
              <p style="font-size: 22px; text-align: center; margin: 2px  ">  Step 3</p> <br>
              <p style="font-size: 14px; text-align: center; margin: 1px  "> Observee approval</p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="panel" style="border: 1px solid; border-radius: 0; border-color: lightgrey" data-toggle="modal" data-target="#step4Modal"  >
            <div class="panel-body text-center">
              <p style="font-size: 22px; text-align: center; margin: 2px  ">  Step 4</p> <br>
              <p style="font-size: 14px; text-align: center; margin: 1px  "> Invite Clinicians </p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="panel" style="border: 1px solid; border-radius: 0; border-color: lightgrey" data-toggle="modal" data-target="#step4Modal"  >
            <div class="panel-body text-center">
              <p style="font-size: 22px; text-align: center; margin: 2px  ">  Step 5</p> <br>
              <p style="font-size: 14px; text-align: center; margin: 1px  "> Connect to Socials </p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="panel" style="border: 1px solid; border-radius: 0; border-color: lightgrey" data-toggle="modal" data-target="#step4Modal"  >
            <div class="panel-body text-center">
              <p style="font-size: 22px; text-align: center; margin: 2px  ">  Step 6</p> <br>
              <p style="font-size: 14px; text-align: center; margin: 1px  "> Connect to Wearables </p>
            </div>
          </div>
        </div>
      </div>
    </div>
