<div class="row">
  <div class="col-md-4">
    <p>
      <strong>Username:</strong>
      <span style="font-size: 14pt; color: #080808"><%= current_user.user_id %></span>
    </p>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-12">
    <h2>Journal</h2>
    <table id= "member_journal_summary" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-hover table-highlight table-bordered">
      <thead>
        <tr>
          <th style="width: 80%">
            Comments
          </th>
          <th style="width: 20%">
            Recorded At
          </th>
        </tr>
      </thead>
      <tbody>
        <% if @my_journal.present? %>
          <% @my_journal.each do |entry| %>
            <% if entry.journal.present? %>
              <tr>
                <td>
                  <p><%= entry.journal %></p>
                </td>
                <td>
                  <%= entry.created_at.strftime("%m/%d/%Y") %>
                </td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
