<p>Hello,</p>

<p>A clinician has updated your appointments calendar in Faro10.</p>

<%= link_to "Visit your SCHEDULE page", schedule_url(@member) %> to view this appointment.

<p>Thank you,</p>
<h1>Faro10</h1>
