<p>Hello,</p>

<p>A clinician has added you as their patient in Faro10</p>
<p>From the sidebar in the moble app, select "MY TEAM", and "approve" the pending invite. </p>

<p>Find us in the AppStore</p>
<%= link_to "AppStore", 'https://itunes.apple.com/us/app/faro10/id1080204499?mt=8' %>

<p>Find us in Google Play </p>
<%= link_to "Google Play", 'https://play.google.com/store/apps/details?id=com.faro10' %>



<!--<= link_to "Visit your TEAM page", root_url %> to approve or reject this clinician.-->

<p>Thank you,</p>
<h1>Faro10</h1>
