.yellow {
    background-color: #FFFF99;
}

.blue {
    background-color: blue;
}

.lightred {
    background-color: #ffcccc;
}

.red {
  background-color: #ff8080;
    //color: white;
}

.unread {
    color: #ac2925;
    background-color: #00a651;
}

.redish {
  background-color: #CC246F;
  color: white;
}