
.b-part1{  margin-left: 2%;  border-radius: 98px 0px 95px 0px;  -moz-border-radius: 98px 0px 95px 0px;  -webkit-border-radius: 98px 0px 95px 0px;  border: 1px solid #000000;  -webkit-box-shadow: 2px 11px 22px 0px rgba(0,0,0,0.75);  -moz-box-shadow: 2px 11px 22px 0px rgba(0,0,0,0.75);  box-shadow: 2px 11px 22px 0px rgba(0,0,0,0.75);  }
.b-part2{ margin-top: 1%;  margin-left:39%;  margin-right:43%;  height: 350px;  }
.b-part3{  margin-right: 7%;  border-radius: 0px 90px 0px 94px;  -moz-border-radius: 0px 90px 0px 94px;  -webkit-border-radius: 0px 90px 0px 94px;  border: 1px solid #000000;  -webkit-box-shadow: 2px 11px 22px 0px rgba(0,0,0,0.75);  -moz-box-shadow: 2px 11px 22px 0px rgba(0,0,0,0.75);  box-shadow: 2px 11px 22px 0px rgba(0,0,0,0.75);  }
.benifit{  float: left;  width: 23%;  min-height:150px;  margin-left: 3%;  }
.borderright{  float: right;  width: 70%;  }
.button {  width: 100%;  display: inline-block;  padding: 1em;  background-color: darkgray;  text-decoration: none;  text-align: center;  color: black;  }
.button-name{  float: right;  margin-right: 11%;  width: 45%;  display: inline-block;  padding: .5em;  background-color:  #e1e1e1;  text-decoration: none;  text-align: center;  }
.button-patient{  float: right;  margin-top: 5px;  margin-right: 17%;  width: 30%;  display: inline-block;  padding: .4em;  background-color:  #e1e1e1;  text-decoration: none;  text-align: center;  }
.button-practitioner  {  margin-top: 20px;  position: relative;   margin-left: 15%;  width: 35%;  display: inline-block;  padding: .5em;  background-color:  #e1e1e1;  text-decoration: none;  text-align: center;  }


.practitioner{  float: left;  width: 100px;  height:100px;  position: relative;  margin-left: 15%;  margin-top: -55px;  }


.communication{  width: 100px;  height:100px;  position: relative;  margin-left: 15%;  margin-top: 1px;  }


.downarrow{  width: 20px;  height:70px;  position: relative;  margin-left: 37%;  margin-top: 5px;  }


.easily{  float: left; position: relative;  margin-left: 27%;  margin-top: 35px;  }
.emergency{  float: right; width: 55px;  height:55px;  position: relative;  margin-right: 21%;  margin-top: 70px;  }

.imageborder{  -webkit-box-shadow: 2px 8px 8px 0px rgba(0,0,0,0.75);  -moz-box-shadow: 2px 8px 8px 0px rgba(0,0,0,0.75);  box-shadow: 2px 8px 8px 0px rgba(0,0,0,0.75);  }
.imgsize{  width: 50px;  height:50px;  }
.imgsize-big {  width: 100px;  height: 100px; }
.imgsize-observe {  width: 90px;  height: 90px; }
.imgsize-measurement {  width: 120px;  height: 80px; }
.imgsize-self {  width: 70px;  height: 70px; }

.imagepluscontainer{  position: relative;  z-index: 1;  }
.imagepluscontainer img{  position: relative;  z-index: 2;  -moz-transition: all 0.5s ease; /* Enable CSS3 transition on all props */  -webkit-transition: all 0.5s ease-in-out;  -o-transition: all 0.5s ease-in-out;  -ms-transition: all 0.5s ease-in-out;  transition: all 0.5s ease-in-out;  }
.imagepluscontainer:hover img{  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);  -moz-transform: scale(1.05, 1.05);  -webkit-transform: scale(1.05, 1.05);  -ms-transform: scale(1.05, 1.05);  -o-transform: scale(1.05, 1.05);  transform: scale(1.05, 1.05);  }
.imagepluscontainer div.desc{  position: absolute;  width: 110%;  z-index: 1;  bottom: 0;  left: 5px;  padding: 8px;  background: rgba(0, 0, 0, 0.8);  color: white;  -moz-border-radius: 0 0 8px 8px;  -webkit-border-radius: 0 0 8px 8px;  border-radius: 0 0 8px 8px;  opacity: 0;  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);  box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);  -moz-transition: all 0.5s ease 0.5s;  -webkit-transition: all 0.5s ease 0.5s;  -o-transition: all 0.5s ease 0.5s;  -ms-transition: all 0.5s ease 0.5s;  transition: all 0.5s ease 0.5s;  }
.imagepluscontainer div.desc a{  color: white;  }
.imagepluscontainer:hover div.desc{  -moz-transform: translate(0, 100%);  -webkit-transform: translate(0, 100%);  -ms-transform: translate(0, 100%);  -o-transform: translate(0, 100%);  transform: translate(0, 100%);  opacity:1;  }
.imagepluscontainer div.rightslide{  width: 110px;  top:15px;  right:0;  left:auto;  bottom:auto;  padding-left:15px;  -moz-border-radius: 0 8px 8px 0;  -webkit-border-radius: 0 8px 8px 0;  border-radius: 0 8px 8px 0;  }
.imagepluscontainer:hover div.rightslide{  -moz-transform: translate(100%, 0);  -webkit-transform: translate(100%, 0);  -ms-transform: translate(100%, 0);  -o-transform: translate(100%, 0);  transform: translate(100%, 0);  }
.imagepluscontainer div.leftslide{  width: 130px;  top:15px;  left:0;  bottom:auto;  padding-left:15px;  -moz-border-radius: 8px 0 0 8px;  -webkit-border-radius: 8px 0 0 8px;  border-radius: 8px 0 0 8px;  }
.imagepluscontainer:hover div.leftslide{  -moz-transform: translate(-100%, 0);  -webkit-transform: translate(-100%, 0);  -ms-transform: translate(-100%, 0);  -o-transform: translate(-100%, 0);  transform:translate(-100%, 0);  }
.imagepluscontainer div.upslide{  top:0;  bottom:auto;  padding-bottom:10px;  -moz-border-radius: 8px 8px 0 0;  -webkit-border-radius: 8px 8px 0 0;  border-radius: 8px 8px 0 0;  }
.imagepluscontainer:hover div.upslide{  -moz-transform: translate(0, -100%);  -webkit-transform: translate(0, -100%);  -ms-transform: translate(0, -100%);  -o-transform: translate(0, -100%);  transform:translate(0, -100%);  }


.journal{ float: left; position: relative;  margin-left: 30%;  margin-top: 75px;  }


.leftdiv{  margin-top: 10%;  float: left;  width: 36%;  height: 350px;  }


.medication{  position: relative;  margin-left: 13%;  margin-top: 10px;  }
.measurement{  width: 120px;  height:120px;  position: relative;  margin-left: 7%;  margin-top: 5px;  }
.medication2{  float: right;  width: 50px;  height:50px;  position: relative;  margin-right: 27%;  margin-top: 45px;  }


.observe{  margin-top: 50px;  width: 90px;  height: 90px;  position: relative;  margin-left: 33%;  }
.observe-part2{  margin-left: 32%;  margin-right: 37%;  height: 150px;  border-radius: 33px 33px 33px 33px;  -moz-border-radius: 33px 33px 33px 33px;  -webkit-border-radius: 33px 33px 33px 33px;  border: 2px dotted #000000;  }


.patient{  width: 100px;  height:100px;  position: relative;  margin-left: 50%;  margin-top: -150px;  }

p#socialicons img{  -moz-transition: all 0.8s ease-in-out;  -webkit-transition: all 0.8s ease-in-out;  -o-transition: all 0.8s ease-in-out;  -ms-transition: all 0.8s ease-in-out;  transition: all 0.8s ease-in-out;  }
p#socialicons img:hover{  -moz-transform: rotate(360deg);  -webkit-transform: rotate(360deg);  -o-transform: rotate(360deg);  -ms-transform: rotate(360deg);  transform: rotate(360deg);  }
p#socialicons2 img{  -moz-transition: all 0.2s ease-in-out;  -webkit-transition: all 0.2s ease-in-out;  -o-transition: all 0.2s ease-in-out;  -ms-transition: all 0.2s ease-in-out;  transition: all 0.2s ease-in-out;  }
p#socialicons2 img:hover{  -moz-transform: rotate(70deg);  -webkit-transform: rotate(70deg);  -o-transform: rotate(70deg);  -ms-transform: rotate(70deg);  transform: rotate(70deg);  }
p#socialicons3 img:hover{  -moz-transition: all 0.5s ease-in-out;  -webkit-transition: all 0.5s ease-in-out;  -o-transition: all 0.5s ease-in-out;  -ms-transition: all 0.5s ease-in-out;  transition: all 0.5s ease-in-out;  -moz-transform: rotate(-360deg);  -webkit-transform: rotate(-360deg);  -o-transform: rotate(-360deg);  -ms-transform: rotate(-360deg);  transform: rotate(-360deg);  }


.realbenefit{  margin-top: 1%;  margin-left: 20%;  width: 45%;  color: white;  border-radius: 7px 7px 7px 7px;  -moz-border-radius: 7px 7px 7px 7px;  -webkit-border-radius: 7px 7px 7px 7px;  background-color: #337ab7;  }
.rightdiv{  margin-top: 10%;  float: right;  width: 35%;  height: 350px;  }


.selfdocument{ width: 70px;  height:70px;  position: relative;  margin-left: 30%;  margin-top: 30px;  }


.track{  position: relative;  margin-left: 15%;  margin-top: 10px;  }
.twoway{  width: 50px;  height:50px;  position: relative;  margin-left: 90%;  margin-top: -160px;  }
.twoway2{  float: right;  width: 50px;  height:50px;  position: relative;  margin-right: 90%;  margin-top: -27px;  }
