

<footer class="footer navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <small>
      <span style="color:red"> TelaPeer </span>
      The most trusted Peer Support Application
    </small>
    <!--<nav>-->
      <!--<ul>-->
        <!--<li><%= link_to "About",   about_path %></li>-->
        <!--<li><%= link_to "Contact", contact_path %></li>-->
        <!--<li><%= link_to "Sponsors",   '/sponsors' %></li>-->
        <!--<li><%= link_to "Privacy Policy", privacy_path %></li>-->
        <!--<li><a href="http://www.suicidepreventionlifeline.org/">Suicide Hotline</a></li>-->
      <!--</ul>-->
    <!--</nav>-->
  </div>
</footer>

